<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libagg" version="2.8.1" targetFramework="native" />
  <package id="libcssdom" version="0.1.14" targetFramework="native" />
  <package id="libmikroxml" version="0.1.34" targetFramework="native" />
  <package id="libpapki" version="1.0.91" targetFramework="native" />
  <package id="libr4" version="1.0.51" targetFramework="native" />
  <package id="libsvgdom" version="0.3.56" targetFramework="native" />
  <package id="libsvgren" version="0.5.7" targetFramework="native" />
  <package id="libutki" version="1.1.111" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.7" targetFramework="native" />
</packages>